*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures
.externalNativeBuild/
.cxx/
local.properties
app/build/
*.apk
*.aab
*.jks
backend/node_modules/
backend/.env
backend/prankcaller.db
backend/prankcaller.db-shm
backend/prankcaller.db-wal
